body #preso .slide {
  width: 990px;
  height: 710px;
  padding:10px;
  border:5px solid gray;
  background:#ffffff url('splat.png') no-repeat right top;
}

.logo {
   position: absolute;
   left: 710px;
   top: 460px;
}

.splat {
  color: red;
}

.highlight {
  color:red;
}


.top-left {
   position: absolute;
   left: 25px;
   top: 25px;
}
.top-right {
   position: absolute;
   left: 800px;
   top: 25px;
}
.bottom-left {
   position: absolute;
   left: 50px;
   top: 600px;
}
.bottom-right {
   position: absolute;
   left: 800px;
   top: 600px;
}
.side-right {
   position: absolute;
   left: 800px;
   top: 250px;
}
.side-left {
   position: absolute;
   left: 50px;
   top: 250px;
}

.top-middle {
   position: absolute;
   left:400px;
   top: 50px;
}

.bottom-middle {
}

img {
  float: center;
}
